
.container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.landing-container{
    /* width: 100; */
    height: 100vh;
    background: url("./resc/img/UTA_College_Park_Center_NW.png") no-repeat;
    background-size: cover;
    background-position-y: 0px;
}
.center-row{
    margin: 0px auto;
}
.service-widget{
    padding: 5px 20px;
    margin-top: 15px;
    /* background-color: springgreen; */
}
.gallery{
    width: 100%;
}
.gallery-container{
    padding:0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-between;
    flex-grow: 1;
    /* background: rgb(20, 20, 20); */
}
.gallery-image{

    height: 200px;
    min-width: 300px;
    /* flex-grow: 1; */
    flex: 1 1;
    padding:0;
    margin:0;
<<<<<<< HEAD
    background-color: red;;
    border: solid gray 2px;
}
=======
    background: url("./resc/img/shpe_group_tmp.jpg") no-repeat;
    background-size: cover;

}
>>>>>>> ba5b23778afa172b8592004d4ea098ea6e6916d5
