body{
    padding: 0;margin:0;
}

h2{
    margin-bottom: 20px;
}

*{
    padding:0; margin:0;

}

.row{
    padding: 0;
    margin:0;
}

.container-fluid{
    padding:0; margin:0;
}


/* LANDING  */

/* nav */
nav{
    /* border: solid red 2px; */
    margin: 20px 0px;
    display: flex;
    width: 80px;
    
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    /* margin-bottom: auto; */
}
nav > a{
    margin-bottom: 20px;
    font-family: 'Oswald';
    text-decoration: none;
    color: black;    
}

.nav-active{
    /* color: rgb(92, 92, 92); */
    text-decoration: underline;
}

/* nav end */

.landing-container{
    padding:0; margin:0;
    /* background-color: gray; */
    /* border: solid red 2px; */
    min-height: 95vh;
    display: flex;
    
}

/* Child container of .landing-container */
.landing-container > div{
    padding: 20px 0px 20px 20px;
    /* border: solid red 2px; */
}


/* left landing */
.landing-left{
    width: 50vw;
    background-color: white;
    display: flex;
    padding-right: 0;
    /* flex-direction: column; */
    
}

.landing-logo{
    /* border: solid red 2px; */
    width: 80px;
    /* height: 100px; */
    
    
}


.landing-contact{
    display: flex;
    width: 80px;
    margin: 50px 0px;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    font-size: .8em;
    /* border: solid red 2px; */
    
}

.nav-social > a{
    writing-mode: horizontal-tb;
    padding: 5px;
}

.line-bar{
    background-color: black;
    height: 30px;
    width: 2px;
    margin: 20px 0px;
}

.email-icon{
    padding-left: 2px;
    width: 40px;
    height: 40px;
    background: black;
    border: solid black 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.landing-text-aside{
    /* border: solid red 2px; */
    display: flex;
    width: 100%;
    height: 109%;
    z-index: 2;
    padding-left: 150px;
    /* justify-content: center; */
    
}


.landing-text-logo{
    writing-mode: vertical-lr;
    color: #153B73;
    font-size: 315px;
    font-family: 'bitter';
    line-height: 80%;
    letter-spacing: 35px;
    padding: 0px;
    font-weight: 1000;   


}

.landing-text-header{
    padding-top: 100px;
    width: 50%;;
    font-weight: 100;
    font-family: 'bitter';
    /* align-self: flex-start; */
    font-size: 50px;
    color: #FFA800;
    z-index: 3;
    padding-left: 80px;
    /* border: solid red 2px; */
    height: 100%;
    margin-right: auto;

}

.text-header-container{
    /* border: solid red 2px; */
    height: 90%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}
.text-header-container > span{
/* margin-bottom: auto; */
}
.text-header-container > h1{
    /* border: solid blue 2px; */
    font-size: 150px;
    font-weight: 950;
    align-self: flex-end;
    filter: opacity(30%);
    
    
}


.landing-text-scroll{
    /* border: solid red 2px; */
    writing-mode: vertical-lr;
    line-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 18px;
    font-family: 'bitter';
    font-weight: bolder;

    
}

.line-bar-v{
    margin-top: 10px;
    width: 2px; 
    height: 200px; 
    background: black;
    
}

/* right landing */
.landing-right{
    width: 50vw;
    background-color: #153B73;
    /* background: url('/resc/img/guys_booth_SHPE.large'); */
    background: url('/resc/img/architecture-building-business-256381.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}


/* LANDING END */






.container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-fluid{
    margin-top: 50px;
    padding: 20px 50px;
}










.center-row{
    margin: 0px auto;
}






/* FLOATING TEXT */
.major-text-container{
    /* border: solid blue 2px; */
    padding: 0 30px;
    margin-top: 60px;
    margin: 0;
}

.major-text-container > h1{
    /* border: solid red 2px; */
    
    font-weight: 900;
    font-size: 100px;
    font-family: 'oswald';
    line-height: 95%;
    padding: 0;
    margin: 15px 0;
    text-shadow: 15px 10px 3px rgb(218, 218, 218);
}


.major-paragraph{
    /* border: solid green 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.major-paragraph > span{
    /* text-align: right */
    font-size: 50px;
    color: #FFA800;
    font-weight: 900;
    line-height: 45px;
    width: 400px;
    /* background: red; */
    
}

/* END FLOATING TEXT */



/* ABOUT */
.shpe-logo{
    /* width: 100%;  */
    margin-top: 100px;
    padding: 50px;
}

#about{
    
    color: rgb(233, 233, 233);
    min-height: 650px;
    padding-top: 50px;
    background: #153B73;

}



.about-header{
    margin-bottom: 20px;
    color: #FFA800;
    font-weight: 900;
    font-size: 4em;
    
}

.about-paragraph{
    line-height: 28px;
    font-size: 1.3em;
}

.about-img{

    background: #153B73 url("/resc/img/group_pic1.jpeg") no-repeat 0 0;
    background-size: cover;
    background-position: right;
    box-shadow: 10px 10px 0 rgb(19, 48, 90);
    min-height: 450px;

}
.sub-about-content{
    font-family: 'bitter';
    margin-bottom: 100px;
}
.sub-about-content > h2{
    font-size: 3em;
    font-weight: bolder;
}
.sub-about-content > p{
    font-size: 1.4em;
    max-width: 400px;
    font-family: 'Merriweather';
}

.about-sm-img{
    /* border: solid red 2px; */
    
    max-height: 300px;
    
}

/* END ABOUT */

/* JOIN  */



/* END JOIN */
#join{
    /* padding-top: 60px; fixes bug where going to id of join is covered by navbar */
    /* margin-top: 100px; */
    /* border: solid red 2px; */
    /* padding: 40px; */
}
.join > div{
    padding: 35px 30px 50px;
    color: rgb(216, 216, 216);
    
    padding-bottom: 100px;
    
}
.join-text > h3{
    margin-bottom: 25px;
}
.join-text > p{
    margin-bottom: 5px;
}
.join-left{
    background: rgb(33, 79, 116);
    border-top: solid rgb(20, 47, 70) 20px;
}
.join-right{
    border-top: solid rgb(139, 66, 35) 20px;
    background-color: #E86C37;
}
.form-labels{
    font-weight: bold;
    margin-top: 20px;
}
.form-input{
    background: #E86C37;
    border: none;
    border-bottom: solid white 1px;
    margin-bottom: 30px;
    width: 90%;
    
    color: rgb(216, 216, 216);
}
.form-input:focus{
    outline: none;
}
.form-input::placeholder{
    color: #9F3204;
}


/* MEDIA FOR MOBILE */
@media (min-width: 800px){
    
    .gallery-container{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .gallery-info{
        grid-column: span 2;
        grid-row: span 2;
    }
    .gallery-info-2{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    .gallery-image{
    }

 

    .img-1{
        grid-column: span 3;
        grid-row: span 2;
    }

    .img-2{
        grid-column: span 2;
        grid-row: span 1;
    }
    .img-3{
        grid-column: span 2;
        grid-row: span 2;
    }
    .img-4{
        grid-column: span 1;
        grid-row: span 1;
    }

}