
$break-med: 700px;
$white: rgb(240, 240, 240);
$blue: #153B73;
$dark-blue: #031C41;
$light-blue: #416599;
$orange: #FFA800;



*{
  font-family: 'Oswald';

}

a{
  color: $orange;
  font-family: 'oswald';
}

.side-header{
  user-select: none;
}


.landing-content{
  padding: 55px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  // background: $blue;
  background: white;
  // border: solid red 2px;
  min-height: 75vh;



  .side-header{
    visibility: hidden;

  }

 

  .image-container{
    // width: 100%;
    display: flex;
  }
}

.google-calendar{
  height: 70vh;

}


.gridbox-1{

  p{
    // color: white;
    color: rgb(41, 41, 41);
    margin-bottom: 1rem;
  }
}



.image{
  width: 90%;
  max-height: 80vh;
  object-fit: contain;  
  margin-left: 30px;
}




// CONTENT
.content{
  display: flex;
  flex-direction: column;
  background-color: white;

  .content-info{
    // max-width: 600px;
    max-width: 55vw;
    color: rgb(32, 32, 32);
    padding-left: 20px;
    
    p{
      font-family: 'Merriweather';
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

  }

  .content-images{
    // border: solid red 2px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      // border: solid red 2px;
      // margin: 0 auto;
      
    }
  }
  
}


.calendar-container{
  padding: 20px;
  // border: solid red- 20px;
  margin: 0 auto;
  width: 90%;
}






@media screen and (min-width: $break-med) {
  
  .landing-content{
    flex-direction: row;
    padding: 0px;

  }

  .block-1{
    width: 100%;
    display: flex;

    // justify-content: center;
    // align-items: center;

    position: relative;

    .side-header{
      visibility: visible;
      writing-mode: vertical-lr;
      // border: solid red 2px;
      font-size: 5rem;
      letter-spacing: 14px;
      font-weight: bolder;
      opacity: .2;
      color: rgb(155, 155, 155);
      margin-bottom: 50px;
    }

    .landing-info{
      // margin-left: auto;
      // margin-right: auto;

      width: 100vw;
      // height: 80vh;
      // border: solid red 2px;
      position: relative;
      z-index: 1;




    }


  }

  .grid-container{
    // border: solid blue 2px;
    // width: 100%;
    height: 85vh;
    // border: solid red 2px;
    // margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    grid-template-rows: repeat(8, 1fr);
    
    .side-nav-container{
      border: solid red 2px;
      visibility: visible;
      display: flex;
      flex-direction: row;
      width: 80px;
      align-items: center;
      padding-left: 10px;
      // justify-content: space-around;

      writing-mode: vertical-lr;
      

      grid-column-start: 1;
      grid-column-end:   2;
      grid-row-start:    1;
      grid-row-end:      9;

      a{
        margin: 20px 0px;
        font-size: 22px;
        
        font-family: 'oswald';
        text-decoration: none;
        color: black;
      }

    }

    .gridbox-1{
      padding: 10px 20px;

      grid-column-start: 1;
      grid-column-end:  11;
      grid-row-start:    1;
      grid-row-end:      8;
      z-index:           2;

      .google-calendar{
        border: solid red 2px;
        height: 100%;
      }

      // h1{
      //   font-family: Bitter;
      //   font-style: normal;
      //   font-weight: bold;
      //   // line-height: 78px;
      //   // font-size: 72px;
      //   font-size: 2.3rem;
      //   letter-spacing: 0.08em;
      //   padding-left: 10px;
      //   // color: #FFA800;
      //   color: $blue;


      // }
      // p{
      //   padding-left: 10px;
      //   font-size: 1rem;
      //   font-family: 'Merriweather';
      //   // color: rgb(29, 29, 29);
      //   width: 60%;
      //   font-weight: 200;
      // }
    }
    .gridbox-2{

      grid-column-start: 11;
      grid-column-end: 17;
      grid-row-start:1;
      grid-row-end: 9;
      z-index: 1;

      .img{
        background: url("./20181110_152846.jpg") no-repeat;
        background-color: rgba(36, 66, 107, 0.671);
        background-blend-mode: exclusion;
        background-position: center;
        background-size: cover;
        // width: 100%;
        // box-shadow: inset 74px 4px 64px rgb(104, 134, 175);
        height: 100%;
      }
    }
    
  }



  // CONTENT
  .content{
    // border: solid red 2px;
    flex-direction: row;
    align-items: center;
  
    .side-header{
      writing-mode: vertical-lr;
      
      font-size: 5rem;
      letter-spacing: 14px;
      font-weight: bolder;
      opacity: .2;
      color: rgb(155, 155, 155);
      margin: auto 0;
    }

    .content-info{
      margin-bottom: auto;
      padding-top: 50px;
    }

    .content-images{
      // width: 200px;
      width: 100%;
      margin-bottom: auto;

      
    }

  }


  #upcoming{
    padding-top: 0;

    .slideshow-container{
      margin-top: 0;
      width: 70%;
      height: 600px;
      margin-left: auto;

      .img-container{
        height: 600px;
      }
    }
  }


}
