* {
  font-family: 'Oswald';
}

a {
  color: #FFA800;
  font-family: 'oswald';
}

.side-header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.landing-content {
  padding: 55px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  min-height: 75vh;
}

.landing-content .side-header {
  visibility: hidden;
}

.landing-content .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.google-calendar {
  height: 70vh;
}

.gridbox-1 p {
  color: #292929;
  margin-bottom: 1rem;
}

.image {
  width: 90%;
  max-height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 30px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.content .content-info {
  max-width: 55vw;
  color: #202020;
  padding-left: 20px;
}

.content .content-info p {
  font-family: 'Merriweather';
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.content .content-images {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar-container {
  padding: 20px;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 700px) {
  .landing-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
  }
  .block-1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .block-1 .side-header {
    visibility: visible;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    font-size: 5rem;
    letter-spacing: 14px;
    font-weight: bolder;
    opacity: .2;
    color: #9b9b9b;
    margin-bottom: 50px;
  }
  .block-1 .landing-info {
    width: 100vw;
    position: relative;
    z-index: 1;
  }
  .grid-container {
    height: 85vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[16];
        grid-template-columns: repeat(16, 1fr);
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
  }
  .grid-container .side-nav-container {
    border: solid red 2px;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10px;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 9;
  }
  .grid-container .side-nav-container a {
    margin: 20px 0px;
    font-size: 22px;
    font-family: 'oswald';
    text-decoration: none;
    color: black;
  }
  .grid-container .gridbox-1 {
    padding: 10px 20px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 11;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 8;
    z-index: 2;
  }
  .grid-container .gridbox-1 .google-calendar {
    border: solid red 2px;
    height: 100%;
  }
  .grid-container .gridbox-2 {
    -ms-grid-column: 11;
        grid-column-start: 11;
    grid-column-end: 17;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 9;
    z-index: 1;
  }
  .grid-container .gridbox-2 .img {
    background: url("./20181110_152846.jpg") no-repeat;
    background-color: rgba(36, 66, 107, 0.671);
    background-blend-mode: exclusion;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .side-header {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    font-size: 5rem;
    letter-spacing: 14px;
    font-weight: bolder;
    opacity: .2;
    color: #9b9b9b;
    margin: auto 0;
  }
  .content .content-info {
    margin-bottom: auto;
    padding-top: 50px;
  }
  .content .content-images {
    width: 100%;
    margin-bottom: auto;
  }
  #upcoming {
    padding-top: 0;
  }
  #upcoming .slideshow-container {
    margin-top: 0;
    width: 70%;
    height: 600px;
    margin-left: auto;
  }
  #upcoming .slideshow-container .img-container {
    height: 600px;
  }
}
/*# sourceMappingURL=events.css.map */